{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
<div class="container mt-5">
  <form class="mb-3">
    <div class="input-group">
      {{ search_form|crispy }}
      <div class="input-group-append" style="margin-left: 10px;">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>

  <h1 class="display-4 mb-4">
    <i class="fas fa-hat-chef"></i> Cooks List
    <a href="{% url 'kitchen:cook-create' %}" class="btn btn-primary link-to-page">
      <i class="fas fa-plus"></i> Add New Cook
    </a>
  </h1>

  {% if cook_list %}
  <div class="table-card">
    {% for cook in cook_list %}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ cook.username }} {% if user == cook %} (Me){% endif %}</h5>
        <p class="card-text"><strong>Full Name:</strong> {{ cook.get_full_name }}</p>
        <p class="card-text"><strong>Experience:</strong> {{ cook.years_of_experience }} years</p>
        <div class="btn-group" role="group" aria-label="Cook Actions">
          <a href="{% url 'kitchen:cook-detail' cook.id %}" class="btn btn-primary me-3">Cook Details</a>
          <a href="{% url 'kitchen:cook-update' cook.id %}" class="btn btn-sm btn-outline-primary me-3">Edit</a>
          <a href="{% url 'kitchen:cook-delete' cook.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="lead">There are no cooks in the restaurant.</p>
  {% endif %}
</div>
{% endblock %}
