{% load django_bootstrap5 %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}

<!doctype html>
<html lang="en">

<head>
  {% block title %}
  <title>Restaurant</title>
  {% endblock %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
  <script src="{% static 'js/js_script.js' %}"></script>
  <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand">Restaurant</a>
    </div>
  </nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2" id="sidebar" style="min-height: 100vh;">
      {% block sidebar %}
        {% include "includes/sidebar.html" %}
      {% endblock %}
    </div>
    <div class="col-md-9 content-container" style="min-height: 100vh; background-color: #fff;">
      {% block content %}{% endblock %}

      {% block pagination %}
        {% include "includes/pagination.html" %}
      {% endblock %}
    </div>
  </div>
</div>

</body>

</html>
